@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slick-list {
  border-radius: 10px;
}
.ant-carousel .slick-dots li button {
  background: rgb(59 130 246 / 0.5);
}
.ant-carousel .slick-dots li.slick-active button {
  background: rgb(71, 85, 105);
}

.ant-menu-item-selected {
  color: rgb(71, 85, 105) !important;
  font-weight: bold;
  transition: 0.3s;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom-color: transparent;
}

.ant-menu-item-selected:hover {
  color: black !important;
  border-bottom-color: transparent;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
